# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/git-demo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
#css/style.css:qqc
git_learning_master_6_commits-27d2f8146eabcf2782e87ce445b8469cc1accc73/
